:root {
  --bg: #16245a;
  --bg_light: #233475;
  --border: #333;
  --accent: #e9c500;
  --card: #222;
  --table-head: #1a1a1a;
}
body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  font-family: system-ui, sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  background-color: var(--bg) !important;
}

.navbar,
.offcanvas-body,
.offcanvas-header {
  background-color: var(--bg_light) !important;
}

.active {
  color: var(--accent) !important;
}

.container {
  margin: 32px auto;
  padding: 16px 16px;
  border-radius: 16px;
  background-color: var(--bg_light) !important;
  width: 100%;
  max-width: 80%;
  min-width: 0;
  box-sizing: border-box;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
h1 {
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 1px;
  margin-bottom: 2.2rem;
}
label {
  font-size: 22px;
  margin: 15px 0 4px 0;
  display: block;
  font-weight: 600;
}
input,
select,
textarea {
  color: var(--fg);
  border: 1.6px solid var(--border);
  border-radius: 7px;
  padding: 18px 22px;
  margin-bottom: 12px;
  width: 100%;
  font-size: 22px;
  box-sizing: border-box;
  outline: none;
  transition: border 0.2s;
  background-color: var(--bg) !important;
}
input:focus,
textarea:focus {
  border-color: var(--accent);
}
textarea {
  min-width: 180px;
  max-width: 100%;
  font-size: 1.19rem;
  padding: 17px 15px;
}
.table-container {
  margin-top: 28px;
  margin-bottom: 20px;
  overflow-x: auto;
}
table {
  width: 100%;
  min-width: 650px;
  border-collapse: collapse;
  color: var(--fg);
  font-size: 1.2rem;
}
th,
td {
  border: 1px solid var(--border);
  padding: 18px 9px;
  font-size: 1.25rem;
  text-align: left;
  min-width: 86px;
}
th {
  font-weight: bold;
  text-align: left;
}
td:last-child,
th:last-child {
  text-align: center;
  width: 54px;
  min-width: 54px;
}
.table-container table input {
  min-width: 0;
  max-width: 100%;
  width: 100%;
  padding: 16px 7px;
  font-size: 1.2rem;
}
.btn {
  background: var(--bg);
  padding: 18px;
  border-radius: 11px;
  font-size: 1.35rem;
  width: 100%;
  cursor: pointer;
  margin: 16px 0 0 0;
  transition: background 0.18s, border 0.18s;
  display: block;
  font-weight: bold!important;
  letter-spacing: 1.5px;
}
.del-btn {
  color: #f55;
  border: none;
  background: none;
  font-size: 2.2em;
  cursor: pointer;
  width: 44px;
  height: 50px;
  margin: 0 auto;
  display: block;
}
.totales {
  margin-top: 20px;
  text-align: right;
  font-size: 1.38em;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn_style{
  background-color: var(--accent)!important;
  color: var(--bg)!important;
}

.btn_style:hover{
  background-color: #bca000!important;
  transition: 100ms;
}
/* Phone Friendly: ancho y tipografía grandes en móvil */

@media (max-width: 1200px) {
  html {
    font-size: 32px !important;
  }

  .container {
    display: none;
    margin: 0;
    background: var(--card);
    padding: 32px 32px;
    border-radius: 16px;
    width: 100%;
    min-width: fit-content;
    box-sizing: border-box;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
  }

  .container {
    border-radius: 8px;
    padding: 0.7rem 6px;
  }
  h1 {
    font-size: 1.22rem;
  }
  label {
    font-size: 1.02rem;
  }
  input,
  textarea,
  select {
    font-size: 1.07rem !important;
    padding: 13px 6px;
  }
  th,
  td {
    font-size: 1.06rem;
    padding: 10px 4px;
  }
  .btn {
    font-size: 1.07rem;
    padding: 14px 0;
  }
  .del-btn {
    font-size: 1.15em;
    height: 38px;
  }
  table {
    min-width: 410px;
  }
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.584);
}
